<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>todosfesa</title>
    <link rel="stylesheet" href="../build/css/master.css">
  </head>
  <body>
    <section class="hero is-info">
      <div class="hero-body">
        <div class="container">
          <h1 class="title"> Todosfesa </h1>
          <h2 class="subtitle"> React build todo-list </h2>
        </div>
      </div>
    </section>
    <section class="section">
      <div id="root" class="container"></div>
    </section>
    <script src="../build/js/bundle.js"></script>
  </body>
</html>